name: Preview
on:
  pull_request:
    branches:
    - main
jobs:
  build:
    name: Preview
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: w3c/spec-prod@v2
        with:
          TOOLCHAIN: bikeshed
          DESTINATION: pr-preview/${{ github.ref }}/index.html
          SOURCE: spec.bs
          GH_PAGES_BRANCH: gh-pages
          BUILD_FAIL_ON: warning
